<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sql.mapper.TMoneyChangeTypeMapper" >
  <resultMap id="BaseResultMap" type="com.sql.mapperBean.TMoneyChangeType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="money_change_id" property="moneyChangeId" jdbcType="INTEGER" />
    <result column="monet_change_type" property="monetChangeType" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sql.mapperBean.TMoneyChangeType" extends="BaseResultMap" >
    <result column="tip" property="tip" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, money_change_id, monet_change_type
  </sql>
  <sql id="Blob_Column_List" >
    tip
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.sql.mapperBean.TMoneyChangeTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_money_change_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sql.mapperBean.TMoneyChangeTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_money_change_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.sql.mapperBean.TMoneyChangeTypeKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_money_change_type
    where id = #{id,jdbcType=INTEGER}
      and money_change_id = #{moneyChangeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sql.mapperBean.TMoneyChangeTypeKey" >
    delete from t_money_change_type
    where id = #{id,jdbcType=INTEGER}
      and money_change_id = #{moneyChangeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sql.mapperBean.TMoneyChangeTypeExample" >
    delete from t_money_change_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sql.mapperBean.TMoneyChangeType" >
    insert into t_money_change_type (id, money_change_id, monet_change_type, 
      tip)
    values (#{id,jdbcType=INTEGER}, #{moneyChangeId,jdbcType=INTEGER}, #{monetChangeType,jdbcType=VARCHAR}, 
      #{tip,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sql.mapperBean.TMoneyChangeType" >
    insert into t_money_change_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="moneyChangeId != null" >
        money_change_id,
      </if>
      <if test="monetChangeType != null" >
        monet_change_type,
      </if>
      <if test="tip != null" >
        tip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moneyChangeId != null" >
        #{moneyChangeId,jdbcType=INTEGER},
      </if>
      <if test="monetChangeType != null" >
        #{monetChangeType,jdbcType=VARCHAR},
      </if>
      <if test="tip != null" >
        #{tip,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sql.mapperBean.TMoneyChangeTypeExample" resultType="java.lang.Integer" >
    select count(*) from t_money_change_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_money_change_type
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.moneyChangeId != null" >
        money_change_id = #{record.moneyChangeId,jdbcType=INTEGER},
      </if>
      <if test="record.monetChangeType != null" >
        monet_change_type = #{record.monetChangeType,jdbcType=VARCHAR},
      </if>
      <if test="record.tip != null" >
        tip = #{record.tip,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_money_change_type
    set id = #{record.id,jdbcType=INTEGER},
      money_change_id = #{record.moneyChangeId,jdbcType=INTEGER},
      monet_change_type = #{record.monetChangeType,jdbcType=VARCHAR},
      tip = #{record.tip,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_money_change_type
    set id = #{record.id,jdbcType=INTEGER},
      money_change_id = #{record.moneyChangeId,jdbcType=INTEGER},
      monet_change_type = #{record.monetChangeType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sql.mapperBean.TMoneyChangeType" >
    update t_money_change_type
    <set >
      <if test="monetChangeType != null" >
        monet_change_type = #{monetChangeType,jdbcType=VARCHAR},
      </if>
      <if test="tip != null" >
        tip = #{tip,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and money_change_id = #{moneyChangeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sql.mapperBean.TMoneyChangeType" >
    update t_money_change_type
    set monet_change_type = #{monetChangeType,jdbcType=VARCHAR},
      tip = #{tip,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and money_change_id = #{moneyChangeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sql.mapperBean.TMoneyChangeType" >
    update t_money_change_type
    set monet_change_type = #{monetChangeType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and money_change_id = #{moneyChangeId,jdbcType=INTEGER}
  </update>
</mapper>