<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sql.mapper.TOgBiUserMapper" >
  <resultMap id="BaseResultMap" type="com.sql.mapperXml.TOgBiUser" >
    <id column="user" property="user" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sql.mapperXml.TOgBiUser" extends="BaseResultMap" >
    <result column="passw" property="passw" jdbcType="LONGVARCHAR" />
    <result column="og_permissions" property="ogPermissions" jdbcType="LONGVARCHAR" />
    <result column="tip" property="tip" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user
  </sql>
  <sql id="Blob_Column_List" >
    passw, og_permissions, tip
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.sql.mapperXml.TOgBiUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_og_bi_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sql.mapperXml.TOgBiUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_og_bi_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_og_bi_user
    where user = #{user,jdbcType=LONGVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_og_bi_user
    where user = #{user,jdbcType=LONGVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sql.mapperXml.TOgBiUser" >
    insert into t_og_bi_user (user, passw, og_permissions, 
      tip)
    values (#{user,jdbcType=LONGVARCHAR}, #{passw,jdbcType=LONGVARCHAR}, #{ogPermissions,jdbcType=LONGVARCHAR}, 
      #{tip,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sql.mapperXml.TOgBiUser" >
    insert into t_og_bi_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user != null" >
        user,
      </if>
      <if test="passw != null" >
        passw,
      </if>
      <if test="ogPermissions != null" >
        og_permissions,
      </if>
      <if test="tip != null" >
        tip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user != null" >
        #{user,jdbcType=LONGVARCHAR},
      </if>
      <if test="passw != null" >
        #{passw,jdbcType=LONGVARCHAR},
      </if>
      <if test="ogPermissions != null" >
        #{ogPermissions,jdbcType=LONGVARCHAR},
      </if>
      <if test="tip != null" >
        #{tip,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_og_bi_user
    <set >
      <if test="record.user != null" >
        user = #{record.user,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.passw != null" >
        passw = #{record.passw,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ogPermissions != null" >
        og_permissions = #{record.ogPermissions,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tip != null" >
        tip = #{record.tip,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_og_bi_user
    set user = #{record.user,jdbcType=LONGVARCHAR},
      passw = #{record.passw,jdbcType=LONGVARCHAR},
      og_permissions = #{record.ogPermissions,jdbcType=LONGVARCHAR},
      tip = #{record.tip,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_og_bi_user
    set user = #{record.user,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sql.mapperXml.TOgBiUser" >
    update t_og_bi_user
    <set >
      <if test="passw != null" >
        passw = #{passw,jdbcType=LONGVARCHAR},
      </if>
      <if test="ogPermissions != null" >
        og_permissions = #{ogPermissions,jdbcType=LONGVARCHAR},
      </if>
      <if test="tip != null" >
        tip = #{tip,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where user = #{user,jdbcType=LONGVARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sql.mapperXml.TOgBiUser" >
    update t_og_bi_user
    set passw = #{passw,jdbcType=LONGVARCHAR},
      og_permissions = #{ogPermissions,jdbcType=LONGVARCHAR},
      tip = #{tip,jdbcType=LONGVARCHAR}
    where user = #{user,jdbcType=LONGVARCHAR}
  </update>
</mapper>