<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sql.mapper.TWimipayTemplateInifoMapper" >
  <resultMap id="BaseResultMap" type="com.sql.bean.TWimipayTemplateInifo" >
    <id column="wipay_id" property="wipayId" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    wipay_id, price, memo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sql.bean.TWimipayTemplateInifoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_wimipay_Template_inifo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
    <select id="selectByTable" resultMap="BaseResultMap" parameterType="com.sql.bean.TWimipayTemplateInifo" >
    select

    <include refid="Base_Column_List" />
    from ${tableName}
  
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_wimipay_Template_inifo
    where wipay_id = #{wipayId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_wimipay_Template_inifo
    where wipay_id = #{wipayId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sql.bean.TWimipayTemplateInifo" >
    insert into t_wimipay_Template_inifo (wipay_id, price, memo
      )
    values (#{wipayId,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sql.bean.TWimipayTemplateInifo" >
    insert into t_wimipay_Template_inifo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wipayId != null" >
        wipay_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wipayId != null" >
        #{wipayId,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_wimipay_Template_inifo
    <set >
      <if test="record.wipayId != null" >
        wipay_id = #{record.wipayId,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_wimipay_Template_inifo
    set wipay_id = #{record.wipayId,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      memo = #{record.memo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sql.bean.TWimipayTemplateInifo" >
    update t_wimipay_Template_inifo
    <set >
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where wipay_id = #{wipayId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sql.bean.TWimipayTemplateInifo" >
    update t_wimipay_Template_inifo
    set price = #{price,jdbcType=REAL},
      memo = #{memo,jdbcType=VARCHAR}
    where wipay_id = #{wipayId,jdbcType=VARCHAR}
  </update>
</mapper>