<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sql.mapper.TWimipayOtherpayProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.sql.bean.TWimipayOtherpayProvince" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="table_" property="table" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="operator_" property="operator" jdbcType="VARCHAR" />
    <result column="numtable_" property="numtable" jdbcType="VARCHAR" />
    <result column="datetable_" property="datetable" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type, province, table_, memo, operator_, numtable_, datetable_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sql.bean.TWimipayOtherpayProvinceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_wimipay_otherpay_province
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wimipay_otherpay_province
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wimipay_otherpay_province
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sql.bean.TWimipayOtherpayProvinceExample" >
    delete from t_wimipay_otherpay_province
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sql.bean.TWimipayOtherpayProvince" >
    insert into t_wimipay_otherpay_province (id, type, province, 
      table_, memo, operator_, 
      numtable_, datetable_)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{table,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{numtable,jdbcType=VARCHAR}, #{datetable,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sql.bean.TWimipayOtherpayProvince" >
    insert into t_wimipay_otherpay_province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="table != null" >
        table_,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="operator != null" >
        operator_,
      </if>
      <if test="numtable != null" >
        numtable_,
      </if>
      <if test="datetable != null" >
        datetable_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="table != null" >
        #{table,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="numtable != null" >
        #{numtable,jdbcType=VARCHAR},
      </if>
      <if test="datetable != null" >
        #{datetable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sql.bean.TWimipayOtherpayProvinceExample" resultType="java.lang.Integer" >
    select count(*) from t_wimipay_otherpay_province
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_wimipay_otherpay_province
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.table != null" >
        table_ = #{record.table,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        operator_ = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.numtable != null" >
        numtable_ = #{record.numtable,jdbcType=VARCHAR},
      </if>
      <if test="record.datetable != null" >
        datetable_ = #{record.datetable,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_wimipay_otherpay_province
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      province = #{record.province,jdbcType=VARCHAR},
      table_ = #{record.table,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      operator_ = #{record.operator,jdbcType=VARCHAR},
      numtable_ = #{record.numtable,jdbcType=VARCHAR},
      datetable_ = #{record.datetable,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sql.bean.TWimipayOtherpayProvince" >
    update t_wimipay_otherpay_province
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="table != null" >
        table_ = #{table,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator_ = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="numtable != null" >
        numtable_ = #{numtable,jdbcType=VARCHAR},
      </if>
      <if test="datetable != null" >
        datetable_ = #{datetable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sql.bean.TWimipayOtherpayProvince" >
    update t_wimipay_otherpay_province
    set type = #{type,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      table_ = #{table,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      operator_ = #{operator,jdbcType=VARCHAR},
      numtable_ = #{numtable,jdbcType=VARCHAR},
      datetable_ = #{datetable,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>