/*
 * 外形宽度以 320px 为基础
*/

@import 'common.css'; /* 公共 */
@import 'forum.css'; /* forum */
@import 'portal.css'; /* portal */

/* 分页 */
.pgbox { height:18px; padding:12px 0px 13px; }
.pg, .th_pg { text-align:center; }
.pg a, .pg strong { display: inline-block; padding:2px 6px; margin:0px 2px; background:#eee; }
.pg strong { color:#fff; font-weight:100; }
.pg .prev, .pg .nxt, .pg span.pgb a { width:8px; text-indent:-9999px; position:relative; }
.pg .prev:after, .pg .nxt:after, .pg span.pgb a:after { content:''; position: absolute;  width:6px; height:6px; border-color:#666; border-style:solid; border-width:0 2px 2px 0; }
.pg .prev:after, .pg span.pgb a:after { right:4px; top:6px; -webkit-transform:rotate(135deg); -moz-transform:rotate(135deg); -o-transform:rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); }
.pg .nxt:after { right:8px; top:6px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.pg label { display:none; }

.a_pg { color:#aaa; text-align:center; text-shadow:0 1px 2px #fff; }
.a_pg a { display:block; color:#666; padding:15px 0px; }
.a_pg #ajaxld { display:none; color:#666; padding:15px 0px; }
.a_pg #ajaxld img { width:10px; height:10px; }

.pgbox, .pg, .th_pg, .a_pg { background:#f6f6f6; }

/* 表情 */
.smile { height:21px; padding:0 0 6px; overflow:hidden; } 
.smile img { width:16px; height:16px; } 
.smile a { float:left; display:block; width:16px; height:16px; padding:2px 3px 3px 2px; overflow:hidden; }
.smile .a { width:23px; height:16px; padding:2px 0px 3px 2px; overflow:hidden; }
.smile .a img { width:23px; height:16px; }
.smile .smiles { display:none; }

/* 输入 */
.ipc { font-size:15px; padding:10px 10px 15px; }
.ipc p { height:26px; padding:5px; margin-bottom:12px; color:#bbb; }
.ipc p input { float:right; height:26px; width:85%; line-height:26px; font-size:15px; color:#777; border:none; background:none; }
.ipc p span { float:left; display:inline-block; height:15px; line-height:15px; padding:6px 0 4px; }
.ipcp { padding:1px 0px 0px; overflow:hidden; }
.ipcc { min-height:100px; padding:5px; margin-bottom:12px; }
.ipcc textarea { float:left; height:100px; width:100%; font-size:15px; color:#777; border:none; background:none; }
.ipcc iframe { width:100%; }
.ipct { margin-bottom:12px !important; }
.ipcl { line-height:16px; margin-bottom:8px; }
.ipcll { line-height:22px; margin-bottom:8px; }
.sltxt { width:30px; padding:0px 4px; color:#888; }
.ipc p, .ipc .txt_s, .ipcc, .actt input, .actt .txt, .sltxt { background: #fff; border:2px solid #eaeaea; }
.ibt { float:left; height:36px; line-height:36px; font-size:18px; padding:0 32px; margin:0 10px 0 0; color:#fff; }
.ibtp { width:100%; padding:0; text-align:center; }
.spcsj { padding: 5px 0; margin-bottom:8px; line-height:18px; font-size:13px; color:#777; }
.spcsj div { margin-bottom:5px; }
.spcsj button, .inbut { padding:4px 15px;  }
.ibt, .spcsj button, .inbut { background: #f60 url(../mplus/img/inp.png) repeat-x 0 0; border:none; color:#fff; text-shadow:0 0 1px #930; }
.ibt_ps { background: #093 url(../mplus/img/inp.png) repeat-x 0 0 !important; text-shadow:0 0 1px #099 !important; }
.actt { margin:8px 0px; }
.actt input, .actt .txt { padding:5px; }

.scck { padding-left:1px; line-height:17px; font-size:13px; margin-bottom:6px; } 
.ips { height:40px; margin-bottom:12px; overflow:hidden; }
.ips table { width:100%; }
.ips th, .ips td { vertical-align: top; }
.ips th { width:auto; }
.ips th p, .ips th input { float:left; width:100%; }
.ips td { width:90px; padding:0px 1px 0px 10px; text-align:right; }
.ips .scod { width:80px; height:38px; margin:1px 0px; }

.post_pics a { display:block; padding:10px; margin-top:5px; text-align:center; background:#eee; }
.post_pics .post_pic { display:none; }

.post_pic_tl { padding:0px 0px 10px; }
.post_pic_tl td { padding:10px 0px; border-bottom:1px dashed #cfcfcf; }
.post_pic_tl td.atnu { width:12px; }
.post_pic_tl td.attc { width:50px; text-align: center; }
.pic_c a { background:#f60; color:#fff; padding:2px 4px; }
.post_mn { background:#eee; padding:3px 10px 10px; text-align:center; }
.post_ts { padding:10px 0px; margin:10px -10px -10px -10px; border-top:1px solid #fafafa; }
#imgattachlist .imgl { margin-bottom:10px; }

#imgattachbtn { height:20px; overflow:hidden; background: url(../mplus/img/photo.png) no-repeat 50% 0; background-size:43px 20px; }

.fwinmask, .popuptext { background: #333; color:#fff; width:240px; }
.fwinmask .flb em, .fwinmask .pns, .fwinmask .m_l { display:none; }
.fwinmask .flb { width:240px; position:relative; }
.fwinmask .flb span { display:block; width:22px; height:22px; position:absolute; right:-8px; top:-8px; background: url(../mplus/img/closerd.png) no-repeat 0 0; background-size:22px 22px; overflow:hidden; }
.fwinmask .flb span a { display:block; width:22px; height:22px; text-indent:-99999px; overflow:hidden; }
.fwinmask .altw, .popuptext { padding:10px; line-height:150%; }
#fwin_dialog_cover { background:none !important;}
.popuptext .pc_inner i { font-style:inherit; }

/* 搜索 */
.search_in { padding:11px 8px 10px; background:#f5f5f5; border-top:1px solid #fff; }
.search { height:36px; border:3px solid #e4e4e4; border-radius:8px; background: #fcfcfc; overflow:hidden;}
.sertxt { float:left; border:none; background:none; width:76%; height:16px; line-height:16px; font-size:16px; color:#666; padding:9px 5px 10px; overflow:hidden; }
.serbut { float:right; height:36px; width:20%; line-height:36px; font-size:16px; color:#fff; border:none; background: #bbb; border-radius:0 5px 5px 0; }
.search_hot { min-height:20px; padding:10px 10px 12px; line-height:20px; font-size:14px; background:#f5f5f5; border-bottom:1px solid #e5e5e5; }

/* 个人资料 */
.p_table td { padding:15px 10px; line-height:16px; }
.p_table th { padding:12px 10px; }
.p_table th, .p_avatar { background:#fefefe; font-size:15px; }
.p_avatar { width:55px; height:55px; border:5px solid #fefefe; position:absolute; top:-30px; right:15px; border-radius: 40px; -webkit-box-shadow:0 -2px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow:0 -2px 3px rgba(0, 0, 0, 0.15); -o-box-shadow:0 -2px 3px rgba(0, 0, 0, 0.15); box-shadow:0 -2px 3px rgba(0, 0, 0, 0.15); overflow:hidden; }
.p_avatar img { width:55px; height:55px; border-radius: 40px; }
.info p { margin-bottom:4px; }

/* 记录与广播 */
.doing li { padding:10px 10px 10px 48px; position:relative; }
.doing li img { width:14px; }
.doing .avatar img { width:28px; height:28px; position:absolute; left:10px; top:10px; }
.doing_user { padding:0px 0px 10px; color:#888; }
.doing_user a { color:#005088; }
.doing_tls p { padding:6px 0px; border-bottom:1px dashed #e5e5e5; }
.doing_tls p, .doing_tls p a { color:#999; font-size:12px; }
.doing_post { padding:10px; overflow:hidden; background:#eee; border-radius: 6px 6px 0 0 ; border-bottom:1px solid #e5e5e5; }
.doing_txt { height:60px; background: #fcfcfc; border-bottom:1px solid #fff; }
.doing_txt table { width:100%; }
.doing_txt textarea { width:100%; height:50px; padding:5px; color:#666; border:none; background:none; }
.doing_txt th { width:52px; padding-left:10px; }
.doing_txt button { width:52px; height:60px; line-height:60px; font-size:17px; color:#666; background: #e0e0e0; border:none; border-radius:0 5px 5px 0; }

.fsc { margin-top:10px; overflow:hidden; }
.fsc .ips { height:30px; margin:0px; overflow:hidden; }
.fsc .ips table { width:100%; }
.fsc .ips th, .fsc .ips td { vertical-align: top; }
.fsc .ips th { width:auto; }
.fsc .ips th p, .fsc .ips th input { float:left; width:100%; }
.fsc .ips td { width:90px; padding:0 1px 0 10px; text-align:right; }
.fsc .ips .scod { width:80px; height:30px; margin:0px; }
.fsc p { height:20px; padding:5px; color:#bbb; background: #fcfcfc; }
.fsc input { float:right; height:20px; width:100%; line-height:26px; font-size:15px; color:#777; border:none; background:none; }

.flw_feed { padding-top:10px; border-top:1px solid #fff; }
.flw_feed .el {}
.flw_feed .el li.cl { padding-left:48px; position:relative; }
.flw_feed .flw_avt { width:28px; height:28px; position:absolute; left:10px; top:0px; }
.flw_feed .flw_avt img { width:28px; height:28px; }
.flw_feed .flw_delete { float:right; color: #005088; }
.flw_feed .flw_article { border-top: 1px #e5e5e5 dashed; padding:8px 10px 10px 2px; line-height:130%; color:#888; }
.flw_feed .flw_article .flw_author { margin-bottom:6px; }
.flw_feed .flw_article .flw_author a { color: #005088; }
.flw_feed .flw_article .flw_quote { background:#f8f8f8; padding:2px 5px 5px 8px; margin-top:5px; border-left:3px solid #eee; }
.flw_feed .flw_article h2 { font-size:13px; }
.flw_feed .flw_article img { max-width:100%; } 
.flw_feed .flw_article .y { display:none; }
.flw_feed .a_pg { background:none; }
.flw_feed .a_pg a { border:none; }

.flw_ulist li { padding:10px 10px 10px 48px; position:relative; }
.flw_ulist li .flw_avt img { width:28px; height:28px; position:absolute; left:10px; top:10px; }
.flw_ulist li .flw_btn_unfo, .flw_ulist li .flw_btn_fo { float:right; }

/* 动态 */
.feed { padding:0px 3px 10px; color:#666; line-height:18px; }
.feed .et { padding:10px 7px; }
.feed .el { }
.feed .el li { padding:10px 7px 10px 3px; }
.feed .el li img { max-width:100%; }
.feed .ec, .feed .ec a { color:#888; font-weight:100; }
.feed .mess a, .feed .mess br { display:none; }
.feed .ecs { padding-left:44px; position:relative; }
.feed .avatar { width:28px; height:28px; position:absolute; left:7px; top:0px; }
.feed .avatar img { width:28px; height:28px; }

/* 日志 */
.blog {}
.blog li { min-height:30px; padding:10px 10px 10px 48px; position:relative; }
.blog_avt { width:28px; height:28px; position:absolute; top:10px; left:10px; overflow:hidden; }
.blog_avt img { width:28px; height:28px; }
.blog h1 { font-size:18px; line-height:18px; }
.blog .message { line-height:22px; overflow:hidden; }
.blog .message img { float:right; margin-left:10px; }
.blog_bt { text-align:right; padding:10px 9px; border-bottom:1px solid #e5e5e5; }
.blog_bt a { display:inline-block; height:11px; padding:3px 5px; margin-left:6px; line-height:11px; background:#e5e5e5; overflow:hidden; }
.blogc { padding:10px 10px 10px 48px; position:relative; }
.blogc .blogc_avt { width:28px; height:28px; position:absolute; top:10px; left:10px; overflow:hidden; }
.blogc .blogc_avt img { width:28px; height:28px; }
.blogc span.y a { display:inline-block; height:11px; padding:3px 5px; margin-left:6px; line-height:11px; background:#e5e5e5; overflow:hidden; }
.pgbox_b { height:18px; padding:12px 0px 13px; background:#f6f6f6; }
.magicflicker { line-height:150%; min-height:30px; }

/* 好友 */
.buddy {}
.buddy li { height:48px; padding:9px 10px 9px 68px; position:relative; }
.friend_avt { width:48px; height:48px; position:absolute; top:9px; left:10px; overflow:hidden; }
.ftfm { padding:9px 10px; font-size:15px; }
.ftfm th { padding:0px 10px; width:160px; }
.ftfm p input { height:22px; width:100%; line-height:22px; font-size:15px; color:#777; }
.ftfm button { height:26px; line-height:26px; }

/* 相册 */
.album { padding-bottom:10px; overflow:hidden; }
.album ul {}
.album li { float:left; margin:10px 0px 0px 10px; width:93px; height:93px; overflow:hidden; position:relative; }
.album li img { width:91px; height:91px; border:1px solid #eee; float:left; }
.album li p { position:absolute; bottom:0px; left:0px; width:93px; padding:8px 0px; text-align:center; opacity: 0.5; color:#fff; background:#222; }

.plpic { height:42px; padding:25px 0px; text-align:center; overflow:hidden; } 
.plpic img { width:38px; height:38px; margin:0px 2px; border:2px solid #fafafa; }
.plpic img.a { border-color:#f90; }
.plpic img.on { width:24px; height:38px; }
.plpic a { display:inline-block; }

.photo { width:280px; height:240px; padding:10px; margin:30px auto 5px; border-radius:8px; overflow:hidden; }
.photo_t { width:280px; height:240px; line-height:240px; overflow:hidden; }
.photo_a { width:280px; height:240px; overflow:hidden; display:inline-block; }

/* 购买附件 */
.p_attc { width:100%; margin-bottom:10px; }
.p_attc td, .p_attc th { padding:10px 0px; border-bottom:1px solid #e5e5e5; }

/* 图片宽度 */
.sviewimg { max-width:100%; }

/* 登录与注册 */
.login_s .logo_in { text-align:center; margin-bottom:12px; text-align:center; }
.login_s .logo_in img { height:66px; }
.login_s .login_ct { margin:0px 20px; background:#fff; border-radius: 10px; }
.login_s .lgs { padding:15px 15px !important; border-top:none !important; }
.login_s .lgs input { width:80%; }
.login_s .lgs .xg1 { line-height:15px; font-size:13px; }
.login_s .lgs .lgst { height:16px; padding:2px; }
.login_s .lgs_inp { padding:2px 1px; }
.login_s .lgs_inp .ibt { width:48%; margin:0px; }
.login_s .lgs_inp .ibtp { width:100%; margin:0px; }
.login_s .qq_login { display:block; height:15px; line-height:15px; margin-top:-8px; padding:4px 4px 0px 4px; }
.login_s .qq_login img { vertical-align:bottom; margin-right:3px; }
.ser { margin:0px 30px; text-align:right; padding-top:10px; overflow:hidden; }
.ser a { color:#f4f4f4; }
.ser_menu select { height:30px; width:100%; font-size:12px; line-height:12px; padding:5px 4px 0px; background:none; border:1px solid #eee; border-radius: 5px; color:#777; }
.ser_menu .select { border:2px solid #eee; margin-bottom:12px; background:#fcfcfc; }

/* 侧栏模式 */
.close .side { display:none; }
.open { position: relative; width:100%; background:#333; overflow:hidden; }
.open .content { width:100%; position:absolute; right:240px; top:0px; background:#E2E5DE; }
.open .content { -webkit-transition-duration: 0.5s; -webkit-transition-property: ease-in-out; -moz-transition-duration: 0.5s; -moz-transition-property: ease-in-out; -ms-transition-duration: 0.5s; -ms-transition-property: ease-in-out; -o-transition-duration: 0.5s; -o-transition-property: ease-in-out; transition-duration: 0.5s; transition-property: ease-in-out; }
.open .content { -webkit-transition-property: right; -moz-transition-property: right; -ms-transition-property: right; -o-transition-property: right; transition-property: right; }
.open .side { display:block; width:240px; position:absolute; right:0px; top:0px; }
.open .a_no { display:block; width:9999px; height:9999px; position:absolute; top:0px; right:0px; z-index:20; }
.open .a_no a { display:block; height:9999px; text-indent:-9999px; }
.open .umus a.a { opacity: 0.3; }

/* 访客提醒 */
.note{ position:fixed; top:0px; left:0px; right:0px; bottom:0px; z-index:999; overflow:hidden; background-color:rgba(0,0,0,0.6); overflow:hidden; }
.note div { min-height:300px; padding:10px; margin:60px 20px 40px; background:#fff; -webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.3); -o-box-shadow:0 0 3px rgba(0, 0, 0, 0.3); box-shadow:0 0 3px rgba(0, 0, 0, 0.3); border-radius:5px; }
.closerd { float:right; display:block; width:24px; height:24px; margin:-18px -18px 0px 0px; overflow:hidden; }